<aside class="col-sm-4 mx-auto">
    <div class="text-center"><h1>Bienvenido</h1></div>
    <div class="card">
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Iniciar Sesión</h4>
            <hr>
            <form>
                <div class="form-group">
                    <label>Usuario</label>
                    <div class="input-group">
                        <input name="" class="form-control" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="******" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </div>
                <p class="text-center"><a href="#" class="btn">¿Olvidaste tu contraseña?</a></p>
            </form>
        </article>
    </div>
</aside>
